name: 'Stale'

on:
  schedule:
    - cron: '0 0 * * *' # JST 09:00 every day

permissions:
  contents: read
  pull-requests: write

jobs:
  close-automerge-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@5bef64f19d7facfb25b37b414482c7164d639639 # v9.1.0
        with:
          close-pr-label: automerge
          days-before-pr-close: 1
          delete-branch: true
